################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/node_modules
/obj/Debug
/.vs/node-red-contrib-wmbus-client/v15
/node-red-contrib-wmbus-client.njsproj
